
body {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  background: url('fondo-sarape.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

#pantalla-carga {
  padding-top: 100px;
}

#pantalla-carga img {
  width: 150px;
}

#cartas-seleccionadas {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 20px;
}

.carta {
  position: relative;
  width: 250px;
  height: auto;
  border: 4px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.carta img {
  width: 100%;
  border-radius: 10px;
}

.corcholata {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
}

button {
  background: #FFD700;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
